{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <style>
        .cat {
            width: 200px;
            height: auto;
            border: 3px dotted black;
            margin: 0 auto;
        }
    </style><h1>About page...</h1>
    <div>

     <h1> Contact info: </h1>
	<p> number: 5454656
	    email: asdasdasd
	</p>

     <h1> Description </h1>
	<p>
	    Founded in 1999, this service provides means for dog lovers around the world to unite!

	</p>
     <h1> FAQ </h1>

	<p> <strong> Who are the founders?  </strong>
	Nickole, Sanjana, Kieran, Tiffany, Hakan
	</p>

	<p> <strong> Where are these services available?  </strong>
	All around the world!
	</p> 

	<p> <strong> Why did we start this?   </strong>
	We love dogs.
	</p>
	
	<p>
            <strong> Question 4:  </strong>
	</p>

	
    </div>
    </body>
    </html>
{% endblock %}