{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}


<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to AirBnBark!</h1>
                {% if user.is_authenticated %}
                	<h2>Welcome {{ user.username }}!</h2>
            	{% else %}
                	<h1> Sign up and send your dogs on spring break its rad!</h1>
            	{% endif %}
            	<br/>
            	
            	<ul class="nav nav-list flex-column">
				<form action="/search/" method="get">
					<input name="query" type="text" placeholder="Search location">
					<input type="radio" form="radiobuttons" name="choice" id="c1" value="hotels" checked="checked" >Hotels</br>
					<input type="radio" form="radiobuttons" name="choice" id="c2" value="dogsitters" >Dogsitters</br>
					<input class="btn btn-primary btn-lg" value="Find your dog's next holiday accomodation" type="submit">
				</form>
				</ul>
				
            </div>
        </div>
</header>


{% endblock %}
