{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}


<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><em>Welcome to </em><strong> AirBnBark!</strong></h1>
                {% if user.is_authenticated %}
                	<h2>Welcome {{ user.username }}!</h2>
            	{% else %}
                	<h2> Sign up and send your dogs on spring break its rad!</h2>
            	{% endif %}
            	<br/>

            	<ul>
                <form action="/search/" method="get">
     					<input class="form-control" name="query" type="text" placeholder="Search location"></br>
     					<select name="choice">
     						<option class="containbitch" value="hotels">Hotels</option>
     						<option class="containbitch" value="dogsitters">Dogsitters</option>
     					</select>
     					<input class="btn btn-primary btn-lg" value="Find your dog's next holiday accomodation" type="submit">
     					</form>

		
				</ul>

            </div>
        </div>
</header>


{% endblock %}
