{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}
    <style>
        .rango {
            width: 25vw;


        }


        .bubble {
            background-color: #0d83d6;
            color: white;
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 10px;
            font-size: 13px;
        }
    </style>

    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-3">AirbnBark</h1>
				<p>The AirBnB for dogs.</p>
                {% if user.is_authenticated %}
                    <h2>welcome {{ user.username }}!</h2>
                {% else %}
                    <h1> Welcome</h1>
                {% endif %}


                <br/>
				<ul class="nav nav-list flex-column">
					 <form action="/search/" method="get">
					<input name="query" type="text" placeholder="Search location"></br>
					<select name="choice">
						<option value="hotels">Hotels</option>
						<option value="dogsitters">Dogsitters</option>
					</select>
					<input value="Search" type="submit">
					</form>




            </ul>


            </div>
             </div>
    </div>


{% endblock %}
