{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ selecteduser.username }} Profile {% endblock %}
{% block body_block %}

	<style>
        .profile-img {
            object-fit: contain;
            border-radius: 10px;
            width: 100%;
            height: auto;
            min-height: 150px;
            min-width: 100px;
            max-height: 200px;
            max-width: 200px;
            background-color: #3d3d3d;
        }
        .profile-row {
            background-color: rgba(0,0,0,0.05);
            padding: 10px;
            margin: 20px;
            border-radius: 20px;
        }
        .left {
            width: 15%;
        }
        .right {
            width: 85%;
            padding-left: 30px;
        }
	</style>
	{% if selecteduser.username == user.username %}
		<h1>{{ selecteduser.username }}'s Profile</h1>
		<div class="row profile-row">
       		<div class="left">
            	{% if userprofile.picture %}
                	<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                     	alt="{{ selecteduser.username }}" class="profile-img"/></br>
									{% for f in fields %}

									{{ f }}
									{% endfor %}

									<div>
						{% if doginfo %}
							<h1>{{ selecteduser.username }}'s Dogs</h1>
							<ul>
							{% for r in doginfo %}

								<li>
									{{ r }} </br>
								</li>

							{% endfor %}
							</ul>



            	{% else %}
                	<img src="{% static 'images/rango.jpg' %}" class="profile-img" alt="temporary profile pic"/>
            	{% endif %}
        	</div>
        	<div class="right">
                	<form method="post" novalidate>
                    	{% csrf_token %}
						{% for field in form.visible_fields %}
						  <div class="form-group">
							{{ field.label_tag }}

							{% if form.is_bound %}
							  {% if field.errors %}
								{% render_field field class="form-control is-invalid" %}
								{% for error in field.errors %}
								  <div class="invalid-feedback">
									{{ error }}
								  </div>
								{% endfor %}
							  {% else %}
								{% render_field field class="form-control is-valid" %}
							  {% endif %}
							{% else %}
							  {% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
							  <small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
							  </div>
							{% endfor %}
						  </div>
                    	<button type="submit" class="btn btn-primary">Submit</button>
                	</form>
        </div>

    {% else %}
    	<h1> {{ title }}'s Profile </h1>
    	<div class="row profile-row">
       		<div class="left">
            	{% if userprofile.picture %}
                	<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                     	alt="{{ selecteduser.username }}" class="profile-img"/>

											{% for f in fields %}

											{{ f }}
											{% endfor %}
            	{% else %}
                	<img src="{% static 'images/rango.jpg' %}" class="profile-img" alt="temporary profile pic"/>

            	{% endif %}
        	</div>

					<div>
		{% if doginfo %}
			<h1>{{ selecteduser.username }}'s Dogs</h1>
			<ul>
			{% for r in doginfo %}

				<li>
					{{ r }} </br>
				</li>

			{% endfor %}
			</ul>

			{% else %}
				<strong> No dogs found </strong>
		{% endif %}
	</div>
        	<div class="right">

            			{% for field in form %}
                  <p>
            				{% if not field.label == "picture" %}
            					   <strong> {{ field.label }}: </strong> {{ field.value }}
                    			<br/>
					                    {% endif %}
                    </p>
                  {% endfor %}

        	</div>
    	<div id="edit_profile"></div>
  {% endif %}
    	</div>
    	<br/>


{% endblock %}
